#NLP Final Project - Phase 2

##Installing and Importing Dependencies


1.   sentence transformers: This dependency is bieng used to get embeddings of sentences.
2.   sklearn: This library is bieng used to cluster and classify datas in dataset.
3.   Pandas: This library helps us to work with dataframes
4.   Numpy: For working with numbers and arrays

In [ ]:
!pip install -U sentence-transformers

Requirement already satisfied: sentence-transformers in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (4.30.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (4.65.0)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (2.0.1+cu118)
Requirement already satisfied: torchvision in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (0.15.2+cu118)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (1.22.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (1.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (1.10.1)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (3.8.1)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (0.1.99)
Requirement already satisfied: huggingface-hub>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (0.16.4)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (3.12.2)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (2023.6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (2.27.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (6.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (4.6.3)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (23.1)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->sentence-transformers) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->sentence-transformers) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->sentence-transformers) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->sentence-transformers) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->sentence-transformers) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->sentence-transformers) (16.0.6)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2022.10.31)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.13.3)
Requirement already satisfied: safetensors>=0.3.1 in /usr/local/lib/python3.10/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.3.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->sentence-transformers) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->sentence-transformers) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->sentence-transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.10/dist-packages (from torchvision->sentence-transformers) (8.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.6.0->sentence-transformers) (2.1.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (3.4)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.6.0->sentence-transformers) (1.3.0)

In [ ]:
from sentence_transformers import SentenceTransformer
from sklearn.cluster import KMeans
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np
from operator import is_not
from functools import partial

##Loading Dataset

In [ ]:
all_players_dataset=pd.read_csv('/content/drive/MyDrive/IUST/1401_02_Spring/Natural_Language_Processing/Final_Project/all_players.csv')
all_players_dataset.loc[0]['rating1']

'True'

##Pre_Process Dataset

In [ ]:
df_cols=all_players_dataset.columns

sents_columns=[col if col[:4]=='sent' else None for col in df_cols]
sents_columns=list(filter(partial(is_not, None), sents_columns))
sents_columns_len=len(sents_columns)

players_columns=[col if col[:6]=='player' else None for col in df_cols]
players_columns=list(filter(partial(is_not, None), players_columns))
players_columns_len=len(players_columns)

ratings_columns=[col if col[:6]=='rating' else None for col in df_cols]
ratings_columns=list(filter(partial(is_not, None), ratings_columns))
ratings_columns_len=len(ratings_columns)

In [ ]:
players_df={
    'name':[],
    'sents':[],
    'rating':[]
}

for row in range(len(all_players_dataset)):
  for player_idx in range(players_columns_len):
    if(all_players_dataset.loc[row]['rating'+str(player_idx)] is not None):
      players_df['name'].append(all_players_dataset.loc[row]['player'+str(player_idx)])
      sents=[]
      for sent in range(sents_columns_len):
        if(all_players_dataset.loc[row]['player'+str(player_idx)] in str(all_players_dataset.loc[row]['sent'+str(sent)]).split()):
          sents.append(all_players_dataset.loc[row]['sent'+str(sent)])
      players_df['sents'].append(sents)
      if(all_players_dataset.loc[row]['rating'+str(player_idx)]=='True'):
        players_df['rating'].append(1)
      else:
        players_df['rating'].append(0)

In [ ]:
players_df=pd.DataFrame.from_dict(players_df)
players_df=players_df[players_df.name != '<PAD>']
players_df=players_df[players_df.astype(str)['sents'] != '[]']
players_df

              name                                              sents  rating
0         McCarthy  [City's sensational season appeared to be endi...       1
1          Yoshida  [City piled on the pressure in the second half...       1
19     Fernandinho  [After Fernandinho cleared Dusan Tadic's effor...       1
24        Sterling  [After no attempts on target from City in the ...       0
25           Jesus  [City's sensational season appeared to be endi...       1
...            ...                                                ...     ...
67843     Johnston  [Rosenborg goalkeeper Andre Hansen denied Tom ...       0
67844       Hansen  [Rosenborg goalkeeper Andre Hansen denied Tom ...       0
67845       Meling  [On 35 minutes, Kieran Tierney broke clear on ...       0
67848    Hedenstad  [He constantly caused Yann Erik de-Lanlay and ...       0
67852       Jebali  [Instead it was Issam Jebali who was Rosenborg...       0

[20257 rows x 3 columns]

##Feature Extraction

In [ ]:
total_sents=[]
for sents in players_df['sents']:
  for sent in sents:
    if(sent!='<PAD>'):
      total_sents.append(sent)

In [ ]:
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')
total_sents_embedding=model.encode(total_sents)

In [ ]:
kmeans = KMeans(n_clusters=50, random_state=0, n_init="auto")
kmeans.fit(total_sents_embedding)

KMeans(n_clusters=50, n_init='auto', random_state=0)

In [ ]:
for i in range(kmeans.n_clusters):
  players_df.insert(2,str(i),[0]*len(players_df))

In [ ]:
players_df

,name,sents,49,48,47,46,45,44,43,42,...,8,7,6,5,4,3,2,1,0,rating
0,McCarthy,[City's sensational season appeared to be endi...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Yoshida,[City piled on the pressure in the second half...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,Fernandinho,[After Fernandinho cleared Dusan Tadic's effor...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,Sterling,[After no attempts on target from City in the ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Jesus,[City's sensational season appeared to be endi...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67843,Johnston,[Rosenborg goalkeeper Andre Hansen denied Tom ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67844,Hansen,[Rosenborg goalkeeper Andre Hansen denied Tom ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67845,Meling,"[On 35 minutes, Kieran Tierney broke clear on ...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67848,Hedenstad,[He constantly caused Yann Erik de-Lanlay and ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67852,Jebali,[Instead it was Issam Jebali who was Rosenborg...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
players_df.at[0,'1']=0
players_df

,name,sents,49,48,47,46,45,44,43,42,...,8,7,6,5,4,3,2,1,0,rating
0,McCarthy,[City's sensational season appeared to be endi...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Yoshida,[City piled on the pressure in the second half...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,Fernandinho,[After Fernandinho cleared Dusan Tadic's effor...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,Sterling,[After no attempts on target from City in the ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Jesus,[City's sensational season appeared to be endi...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67843,Johnston,[Rosenborg goalkeeper Andre Hansen denied Tom ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67844,Hansen,[Rosenborg goalkeeper Andre Hansen denied Tom ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67845,Meling,"[On 35 minutes, Kieran Tierney broke clear on ...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67848,Hedenstad,[He constantly caused Yann Erik de-Lanlay and ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67852,Jebali,[Instead it was Issam Jebali who was Rosenborg...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
players_df.reset_index(drop=True,inplace=True)
players_df

,name,sents,49,48,47,46,45,44,43,42,...,8,7,6,5,4,3,2,1,0,rating
0,McCarthy,[City's sensational season appeared to be endi...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Yoshida,[City piled on the pressure in the second half...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,Fernandinho,[After Fernandinho cleared Dusan Tadic's effor...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,Sterling,[After no attempts on target from City in the ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Jesus,[City's sensational season appeared to be endi...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20252,Johnston,[Rosenborg goalkeeper Andre Hansen denied Tom ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20253,Hansen,[Rosenborg goalkeeper Andre Hansen denied Tom ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20254,Meling,"[On 35 minutes, Kieran Tierney broke clear on ...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20255,Hedenstad,[He constantly caused Yann Erik de-Lanlay and ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20256,Jebali,[Instead it was Issam Jebali who was Rosenborg...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
for row in range(len(players_df)):
  for sent in players_df.loc[row]['sents']:
    sent_cluster=str(kmeans.predict(model.encode([sent]))[0])
    players_df.at[row,sent_cluster]=players_df.loc[row][sent_cluster]+1

players_df

,name,sents,49,48,47,46,45,44,43,42,...,8,7,6,5,4,3,2,1,0,rating
0,McCarthy,[City's sensational season appeared to be endi...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Yoshida,[City piled on the pressure in the second half...,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,Fernandinho,[After Fernandinho cleared Dusan Tadic's effor...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,Sterling,[After no attempts on target from City in the ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Jesus,[City's sensational season appeared to be endi...,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20252,Johnston,[Rosenborg goalkeeper Andre Hansen denied Tom ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20253,Hansen,[Rosenborg goalkeeper Andre Hansen denied Tom ...,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20254,Meling,"[On 35 minutes, Kieran Tierney broke clear on ...",0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20255,Hedenstad,[He constantly caused Yann Erik de-Lanlay and ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20256,Jebali,[Instead it was Issam Jebali who was Rosenborg...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
players_df.to_csv('/content/drive/MyDrive/IUST/1401_02_Spring/Natural_Language_Processing/Final_Project/features_extracted_players.csv')

##Players Classification

In [ ]:
players_df=pd.read_csv('/content/drive/MyDrive/IUST/1401_02_Spring/Natural_Language_Processing/Final_Project/features_extracted_players.csv')

In [ ]:
players_df

,Unnamed: 0,name,sents,49,48,47,46,45,44,43,...,8,7,6,5,4,3,2,1,0,rating
0,0,McCarthy,"[""City's sensational season appeared to be end...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,Yoshida,"[""City piled on the pressure in the second hal...",0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,2,Fernandinho,"[""After Fernandinho cleared Dusan Tadic's effo...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3,Sterling,"[""After no attempts on target from City in the...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,Jesus,"[""City's sensational season appeared to be end...",0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20252,20252,Johnston,"[""Rosenborg goalkeeper Andre Hansen denied Tom...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20253,20253,Hansen,"[""Rosenborg goalkeeper Andre Hansen denied Tom...",0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20254,20254,Meling,"['On 35 minutes, Kieran Tierney broke clear on...",0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20255,20255,Hedenstad,['He constantly caused Yann Erik de-Lanlay and...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20256,20256,Jebali,"[""Instead it was Issam Jebali who was Rosenbor...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
def rate_to_grade(rate):
  if rate==True:
    return 1
  return 0

In [ ]:
x_train=players_df.iloc[:-100,3:-3]
y_train=players_df.iloc[:-100,-2]
x_test=players_df.iloc[-100:,3:-3]
y_test=players_df.iloc[-100:,-2]

In [ ]:
classification_model = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr').fit(x_train, y_train)

In [ ]:
classification_model.predict(x_test)
round(classification_model.score(x_test,y_test), 4)

1.0

##Finalizing Model

In [1]:
def SoccerReportPredictor(players,report):
  global model
  global kmeans
  global classification_model

  player_sents={}

  for player in players:
    player_sents[player]=[]
    for sent in report.split('.'):
      if player in sent.split():
        player_sents[player].append(kmeans.predict(model.encode(sent)))
  player_features={}
  for player in  player_sents:
     features=[0]*50
     for sent in player_sents[player]:
        features[sent]+=1
     player_features[player]=features

  player_features=pd.DataFrame.from_dict(player_features)
  return classification_model.predict(player_features[1:])